<div class="col-md-4">
	<!-- Widget: user widget style 1 -->
	<div class="box box-widget widget-user-2">
		<!-- Add the bg color to the header using any of the bg-* classes -->
		<div class="widget-user-header bg-gray92">
			<div class="widget-user-image">
				<img src="<%= item.image %>">
			</div>
			<!-- /.widget-user-image -->
			<h3 class="widget-user-username"><%= item.name %></h3>
			<h5 class="widget-user-desc">Version: <%= item.version %></h5>
		</div>
		<div class="box-footer no-padding">
			<ul class="nav nav-stacked">
				<li class="topic-des"><%= item.description %> </li>
				<li><a href="#">download: 123 <span class="pull-right badge bg-red"><%= item.action_type %></span></a></li>
			</ul>
		</div>
	</div>
	<!-- /.widget-user -->
</div>